* {
    box-sizing: border-box;
    font-family: "RocknRoll One", sans-serif;
}

/* Header Section  */
#Text_1 {
  font-size: 1.33rem;
  font-weight: bolder;
}

h5, p{
    color: white;
}

/* Button styling */
.btn-outline-danger {
  transition: 0.3s ease-in-out;
  border: none;
}

.btn-outline-danger:hover {
  background-color: aliceblue;
  color: black;
}

.btn-outline-danger:focus {
  outline: none !important;
  box-shadow: none !important;
}

input[type="search"]:focus {
  outline: none !important;
  box-shadow: none !important;
}

.btn-outline-success:focus {
  outline: none !important;
  box-shadow: none !important;
}

.w-100{
    height: 36rem;
}

.row h2{
    text-align: center;
}

#item{
    text-align: center;
}

/* footer */
.footer{
    text-align: center;
    height: 100px;
    padding: 20px;
    background-color: aqua;
}
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    #Data1{
        flex-direction: column;
    }
    .w-100{
        height: 25rem;
    }
    #Ims1{
        height: 25rem;
    }
    #Data2{
        flex-direction: column;
    }
    


